$enabledButton: rgb(165, 250, 251);
$disabledButton: rgb(251, 165, 205);
$convex1: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
$convex2: 3px 4px 6px rgba(0, 0, 0, 0.24),
  -2px -2px 6px rgba(255, 255, 255, 0.35);
$convex3: 1px 1px 3px rgba(0, 0, 0, 0.24),
  -1px -1px 3px rgba(255, 255, 255, 0.35), inset 0px 0px 0px 3px white;

$concave1: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

$concave2: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.2),
  inset -3px -3px 5px 0 rgba(255, 255, 255, 0.34);

.track-horizontal {
  background: transparent;
  box-shadow: $concave2;
  border-radius: 0.5rem;
  width: 100%;
  height: 1rem !important;
  bottom: 0;
}

.track-vertical {
  background: transparent;
  box-shadow: $concave2;
  border-radius: 0.5rem;
  width: 1rem !important;
  height: 100%;
  right: 0;
}

.thumb-horizontal {
  border-radius: 0.5rem;
  background: $enabledButton;
  box-shadow: $convex2;
}

.thumb-vertical {
  border-radius: 0.5rem;
  background: $enabledButton;
  box-shadow: $convex2;
}
.scrbrd-row > td {
  padding: 4px 0 !important;
}

.view {
  margin-bottom: -20px !important;
  margin-right: -20px !important;
  padding-right: 20px;
  padding-left: 5px;
  padding-bottom: 10px;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: poppins;
  font-weight: 300;
  // background: rgb(125, 123, 128);
  color: white;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #5651b7;
}

.crs-pntr {
  cursor: pointer;
}

html {
  background: radial-gradient(circle at left, #1fc274, #0026dd);
}

body {
  background-color: transparent !important;
}

.outline-btn {
  white-space: nowrap;
  user-select: none;
  font-family: poppins;
  line-height: 1;
  font-weight: 400;
  display: flex;
  font-size: 13px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  min-height: 32px;
  min-width: 60px;
  width: unset;
  border-radius: 36px;
  padding: 10px 25px;
  transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
  background: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  border-image: initial;
}

.outline-btn:hover {
  color: rgb(255, 255, 255);
  background: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-image: initial;
}

.logo {
  font-family: League Spartan;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.content {
  max-width: 1500px;
  margin: auto;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  section {
    margin: 0px 30px 70px 30px;
  }

  & > section {
    margin-bottom: 0;
  }
}

.dshbrd-1 {
  display: flex;
  flex: 0 1 90%;
  flex-wrap: wrap;
  padding: 20px;
}

.pnl-ctn {
  padding: 10px;
}

.convex-2 {
  box-shadow: $convex2;
}
.concave-2 {
  box-shadow: $concave2;
}

.convex-1 {
  box-shadow: $convex1;
}
.concave-1 {
  box-shadow: $concave1;
}

.flx-row {
  flex-direction: row;
}

.flx-clmn {
  flex-direction: column;
}

.prfx-inpt {
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  color: white;
  text-align: center;
}

.auto-msg-txtar {
  background: transparent;
  width: 100%;
  height: 100%;
  font-weight: 300;
  outline: none;
  border: none;
  color: white;
  overflow: hidden;
}
.select-disable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.shn {
  // background: linear-gradient(
  //   135deg,
  //   rgba(2, 0, 36, 0) 4%,
  //   rgba(40, 31, 187, 0) 28%,
  //   rgba(255, 255, 255, 1) 48%,
  //   rgba(8, 32, 136, 0) 71%,
  //   rgba(0, 212, 255, 0) 100%
  // );
  // background-size: 200% 200%;
  // background-repeat: no-repeat;
  // background-position: 200% 200%;
  // transition: background-position 1s;
}

.shn:hover {
  // transition: background-position 1s;
  // animation: shine 1s linear;
}

@keyframes shine {
  0% {
    background-position: 200% 200%;
  }

  100% {
    background-position: -200% -200%;
  }
}
.pnl {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
}

.concave-txt {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75),
    -1px -1px 3px rgba(255, 255, 255, 0.75);
}
.convex-txt {
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.75),
    -1px -1px 3px rgba(0, 0, 0, 0.75);
}

$heights: 100;
@mixin h-list {
  @for $i from 0 through $heights {
    .h-#{$i} {
      height: #{$i}% !important;
    }
  }
}

@include h-list;

$widths: 100;
@mixin w-list {
  @for $i from 0 through $widths {
    .w-#{$i} {
      width: #{$i}% !important;
    }
  }
}

@include w-list;

.enbl-btn {
  background: $enabledButton;
}

.dsbl-btn {
  background: $disabledButton;
}

.drdwn-menu {
  color: black;
  position: absolute;
  z-index: 5;
  background: white;
  top: 80%;
  max-height: 110px;
  overflow-y: auto;
  font-size: 15px;
}

.drdwn-menu-view > div:hover {
  background: $enabledButton;
}

.drdwn-menu-view {
  margin-bottom: -20px !important;
  margin-right: -20px !important;
}

.drdwn-menu-view > div {
  padding: 5px 40px 5px 20px;
}
.convex-pressed {
  // border: 0.5px solid rgba(226, 217, 217, 0.5);
  box-shadow: $convex3;
  transition: box-shadow 0.3s;
}

.borderless td,
.borderless th {
  border: none !important;
}

.table th {
  padding: 0 !important;
}

.table th,
table td {
  text-align: center;
}

.table {
  margin-bottom: 0 !important;
}

.choice {
  margin: 2px;
  border-radius: 25px;
  cursor: pointer;
}

.choice:hover {
  box-shadow: $convex2;
}

svg {
  cursor: pointer;
}

input {
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  color: white;
}

table {
  font-size: 18px !important;
  color: white !important;
}

// .ps > .ps__rail-x,
// .ps > .ps__rail-y {
//   opacity: 1;
// }

// .ps__rail-y {
//   box-shadow: $concave2;
//   border-radius: 40px;
//   height: 100% !important;
// }

// .ps:hover > .ps__rail-x,
// .ps:hover > .ps__rail-y,
// .ps--focus > .ps__rail-x,
// .ps--focus > .ps__rail-y,
// .ps--scrolling-x > .ps__rail-x,
// .ps--scrolling-y > .ps__rail-y {
//   opacity: 1 !important;
// }
// .ps__thumb-y {
//   background-color: $enabledButton !important;
//   border-radius: 40px !important;
//   width: 15px !important;
//   right: 0 !important;
// }

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent !important;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}

.table th {
  padding: 20px 0 20px 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}
